@model IEnumerable<CounterWeb.Models.Course>

@{
    ViewData["Title"] = "Назва курсів";
}

<link rel="stylesheet" type="text/css" href="~/css/taskIndex.css">

<h1>Назва курсів</h1>
@if (User.IsInRole("teacher") || User.IsInRole("admin"))
{
    <p>
        <a asp-action="Create">Створити курс</a>
    </p>
}
else
{
    <p>
        <a asp-action="Join">Доєднатися до курсу</a>
    </p>
}
<div class="product-container">
    @foreach (var item in Model)
    {
            <div class="product">
                <h2>@Html.DisplayFor(modelItem => item.Name)</h2>
                <p>@Html.DisplayFor(modelItem => item.ZoomLink)</p>
                <div class="actions">
                    <a class="btn details" asp-action="Details" asp-route-id="@item.CourseId">Продивитись усі завдання курсу</a>
                    <div class="actions-dropdown">
                        <button class="actions-dropdown-button">•••</button>
                        <div class="actions-dropdown-content">
                            @if (User.IsInRole("teacher") || User.IsInRole("admin"))
                            {
                                <a class="btn edit" asp-action="Edit" asp-route-id="@item.CourseId">Редагувати курс</a>
                                <a class="btn delete" asp-action="Delete" asp-route-id="@item.CourseId">Видалити курс</a>
                            }
                            <a class="btn edit" asp-action="Show" asp-route-id="@item.CourseId">Показати учасників курсу</a>

                        </div>
                    </div>
                </div>
            </div>
    }
</div>