@using Newtonsoft.Json;
@model Tuple< List<CounterWeb.Models.User>, List<CounterWeb.Models.User>, List<CounterWeb.Models.Task> >

<title>Викладачі</title>
    
<link rel="stylesheet" type="text/css" href="~/css/chart.css">
    <div class="container mt-5">
        <h2 class="text-center mb-4">Вчителі</h2>
            <ul class="list-group">
                @foreach(var p in Model.Item1)
                {
                    <li class="list-group-item list-group-item-action">@p.LastName  @p.FirstName</li>            
                }
            </ul>
        <h2 class="text-center mb-4">Учні</h2>
            <ul class="list-group">
                @foreach(var p in Model.Item2)
                {
                    <li class="list-group-item list-group-item-action">@p.LastName  @p.FirstName</li>            
                }
            </ul>
    </div>
    @if (User.IsInRole("teacher") || User.IsInRole("admin"))
    {
        <h2 class="text-center mb-4">Журнал оцінок</h2>

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                    <th></th>
                        @foreach (var t in Model.Item3)
                        {
                            <th>@t.Name (@t.MaxGrade балів)</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var s in Model.Item2)
                    {
                        <tr>
                            <th>@s.LastName @s.FirstName</th>
                            @{
                                List<CounterWeb.Models.UserCourse> userCourse = ViewBag.UserCourseId;
                                int? userCourseId = userCourse.Where(c=>c.UserId == s.UserId).Select(a=>a.UserCourseId).FirstOrDefault();
                            }
                            @foreach (var t in Model.Item3)
                            {
                                var completedTask = t.CompletedTasks.FirstOrDefault(a => a.UserCourseId == userCourseId);
                                var grade = completedTask != null ? completedTask.Grade : 0;
                                
                                <td>@grade</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <h2 class="text-center mb-4">Статистика</h2>
        <div class="charts-container">
            <div id="chart1" class="chart"></div>
            <div id="chart2" class="chart"></div>
        </div>
    }

@section scripts
{
<script type = "text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="~/js/chart.js"></script> 

<script>
  google.charts.load('current', { 'packages': ['corechart'] });
  google.charts.setOnLoadCallback(function () {
     drawChart('@ViewBag.Id');
  });
</script>

<script>
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(function () {
        var students = @Json.Serialize(Model.Item2.ToArray())
        var jsonString = JSON.stringify(students) // кодування у формат json
        var studentsEncoded = encodeURIComponent(jsonString) // кодування самого json у string

        drawBarChart('@ViewBag.Id', studentsEncoded);
  });
</script>
}