@model IEnumerable<CounterWeb.Models.UserCourse>

    <title>Відповіді</title>
@{
    List<User> users = ViewBag.userList;
    List<CompletedTask> ctasks = ViewBag.ctaskList;
}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Готові відповіді</h1>
            <ul class="list-group">
                @foreach(var p in Model)
                {
                    User user = users.Where(b => b.UserId == p.UserId).FirstOrDefault();
                    CompletedTask ctask = ctasks.Where(b => b.UserCourseId == p.UserCourseId).FirstOrDefault();
                    <a asp-action="Details" asp-route-userCourseId="@p.UserCourseId" asp-route-taskId="@ctask.TaskId" class="list-group-item list-group-item-action">@user.FirstName  @user.LastName  @ctask.Grade  балів</a>            
                }
            </ul>
    </div>
