@model IEnumerable<CounterWeb.Models.Task>

@{
    ViewData["Title"] = "Завдання в курсі";

    int userCoursseId = ViewBag.userCoursseId;
}

<link rel="stylesheet" type="text/css" href="~/css/taskIndex.css">

<h1>Завдання в курсі @ViewBag.Name</h1>
@if (User.IsInRole("teacher") || User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Додати завдання", "Create", new{courseId = @ViewBag.Id})
    </p>
}
<div class="product-container">
    @foreach (var item in Model)
    {
        <div class="product">
          <h2>@Html.DisplayFor(modelItem => item.Name)</h2>
          <p>@Html.DisplayFor(modelItem => item.Course.Name)</p>
          <div class="actions">
              @if(User.IsInRole("student") || User.IsInRole("admin"))
              {
                <p>Оцінка: @Html.DisplayFor(modelItem => item.CompletedTasks.Where(b=>b.UserCourseId == userCoursseId).FirstOrDefault().Grade) / @Html.DisplayFor(modelItem => item.MaxGrade)</p>
                <a class="btn execute" asp-action="Complete" asp-route-id="@item.TaskId">Виконати завдання</a>                    
              }
              @if (User.IsInRole("teacher") || User.IsInRole("admin"))
                {
                    <p style="margin-top:auto">Оцінка за завдання: @item.MaxGrade</p>
                    <p style="margin-top:auto">Кількість зданих робіт: @item.CompletedTasks.Where(b=>b.Solution != null).Count() / @ViewBag.studCount</p>
                    <a class="btn details" asp-action="CompletedList" asp-route-id="@item.TaskId">Переглянути відповіді</a>
                  <div class="actions-dropdown">
                      <button class="actions-dropdown-button">•••</button>
                      <div class="actions-dropdown-content">
                          <a class="btn edit" asp-action="Edit" asp-route-id="@item.TaskId">Редагувати завдання</a>
                          <a class="btn delete" asp-action="Delete" asp-route-id="@item.TaskId">Видалити завдання</a>
                      </div>
                  </div>
              }
          </div>
        </div>
    }
</div>
